header{
    position: relative;
    padding: 15px;
    font-size: 23px;
    display: flex;
    align-items: center;
    font-weight: 600;
    background-color: #eee;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.984);
    p{
        flex:1;
        text-align: center;
    }
    button{
        top:13px;
        right:0px;
        position: absolute;
        padding: 6px;
        margin-right: 20px;
        background: none;
        border:1px solid black;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.145);
        &:hover{
            background-color: black;
            color:white;
        }
    }
}