.listusers{
    background-color: #eee;
    min-height: 95vh;
    .title{
        text-align: center;
        font-size: 22px;
        padding: 20px;
        padding-top: 35px;
    }
    .add{
        display: block;
        padding: 10px;
        text-align: center;
        width: max-content;
        background-color: #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.368);
        border-radius: 5px;
        border:1px solid;
        margin: 30px auto;
        &:hover{
            background-color: black;
            color:white;
        }
    }
    table{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.358);
        border-radius: 10px;
        padding-top: 10px;
        margin: 0px auto;
        text-align: center;
        border-collapse: collapse;
        tr:first-child{
            background-color: #01987A !important;
            color: white;
        }
        th{
            font-weight: 500;
            padding: 10px;
            &:last-child{
                border-radius: 0 10px 0px 0;
            }
            &:first-child{
                border-radius: 10px 0 0 0px;
            }
        }
        tr:nth-child(odd){
            background-color: rgba(128, 128, 128, 0.133);
        }
        td{
            padding: 15px;
            min-width: 65px;
        }
        button{
            border-radius: 5px;
            border: 1px solid;
            color:#b33636;
            margin:0 20px;
            padding:8px;
            &:hover{
                background-color: #b33636;
                color:white;
            }
        }
    }
}