.publish{
    min-height: 90vh;
    padding-top: 100px;
    background: #134E5E;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #71B280, #134E5E);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #71B280, #134E5E);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    .container{
        max-width: 400px;
        border-radius: 20px;
        padding: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.889);
        background-color: #eee;
        margin: 0px auto;
        padding: 50px;
        form{
            display: flex;
            align-items: center;
            flex-direction: column;
            label{
                margin-top:10px;
                margin-bottom: 4px;
            }
            button{
                margin-top: 20px;
                padding:8px 20px;
            }
        }
    }
}