 .viewresult {
     text-align: center;
     min-height: 90vh;
    background: #536976;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #292E49, #536976);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #292E49, #536976);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     .title{
        font-size: 20px;
        margin-top: 30px;
        padding: 10px;
        margin-bottom: 10px;
        color:white;
     }
     .container{
        min-height: 250px;
        border-radius: 10px;
        max-width: 400px;
        margin:0 auto;
        box-shadow: 0 0 10px black;
        padding: 50px;
        background-color: #eee;
     }
     form{
        display: flex;
        align-items: center;
        flex-direction: column;
        input {
            margin-bottom: 10px;
            min-width: 250px;
            padding: 4px;
            border: none;
            background: none;
            border-bottom: 1px solid grey;
            margin:10px;
        }
        input:focus {
            outline: none;
            border-bottom: 1px solid black;
        }
     }
     button{
        margin-top: 10px;
        padding:10px 20px;
     }
     padding: 10px;
 }